.text-error{
	border-color: red !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px red !important;
	-moz-box-shadow: 0px 0px 0px red !important;
	box-shadow: 0px 0px 0px red !important;
}
*::-moz-selection {
    background: #688A7E none repeat scroll 0% 0%;
    color: #FFF;
}